aiohttp==3.9.5
beautifulsoup4==4.11.2
Flask[async]==3.1.2
Flask_Cors==4.0.0
matplotlib==3.8.4
numpy==2.0.1
openai==2.7.1
pandas==2.3.3
pydantic==2.12.4
pytest==8.4.2
python-dotenv==1.2.1
Requests==2.32.5
scikit_learn==1.4.2
seaborn==0.13.2
Shapely==2.1.2
supabase==2.24.0
tiktoken==0.8.0
tqdm==4.67.1
upstash_redis==1.5.0
Werkzeug==3.1.4
